fastapi
uvicorn
pdfplumber
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-ollama
chromadb
sentence-transformers
openai
python-dotenv
streamlit
requests
pandas
pydantic
python-multipart
httpx
fpdf2
cohere==5.13.0
reportlab
qdrant-client
ragas
datasets
langchain-chroma
ragas==0.2.6