fastapi
uvicorn
pdfplumber
langchain
langchain-openai
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
cohere==5.13.0
openai
python-dotenv
streamlit
requests
pandas
pydantic
python-multipart
reportlab
